*{
    padding: 0;
    margin: 0;
}



.box{
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}

.sun{
    width: 120px;
    height: 120px;
    background: rgba(255, 165, 0, 1);
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -15px;
    animation: sun 5s ease-in-out;


}

.cloud1{
    width: 200px;
    height: 120px;
    position: absolute;
    top: 20px;
    left: -10px;
    opacity: 0.5;
    animation: cloud1 5s linear;
}

.cloud2{
    width: 200px;
    height: 120px;
    position: absolute;
    top: 30px;
    left: 500px;
    opacity: 0.5;
    animation: cloud2 2.5s ease-in;
    animation-delay: 2.5s;

}
.cloud3{
    width: 200px;
    height: 120px;
    position: absolute;
    top: 50px;
    right: -10px;
    opacity: 0.5;
    animation: cloud3 2.5s ease-out;


}

@keyframes cloud1{
    from{
        top: 20px;
        left: -10px;
    }
    to{
        top: 20px;
        left: 110%;
    }

}

@keyframes cloud2{
    from{
        top: 30px;
        left: 500px;
    }
    to{
        top: 30px;
        left: 110px;
    }

}

@keyframes cloud3{
    from{
        top: 50px;
        right: -10px;
    }
    to{
        top: 20px;
        right: 110px;
    }

}

@keyframes sun{
    from{
        top: 50px;
        left: -15px;
        background: rgba(255, 165, 0, 1);

    }
    to{
        
        top: 15px;
        left: 110%;
        background: rgba(255, 165, 0, 0.4);

    }

}